<div>
  <div>
    <h3><%= @the_frontier.name %> Details </h3>
    <div><a href="/frontiers/<%=@the_frontier.id%>">Go back</a></div>
  </div>
</div>

<hr>

<h3>Edit Asset Class Settings</h3>

<div class="row">
  <div class="col-4">
<table class="table table-hover">

<form action="/modify_frontier/:path_id" method="post">
      <tr class="table-info">
        <th>Name</th>
        <th>Check to Include</th>
        <th>Min</th>
        <th>Max</th>
        <th></th>
      </tr>

      <% @list_of_asset_classes.each do |an_asset_class| %>
      <tr class="table-light">
        <th> <%= an_asset_class.name %> </th>
        <td> <div class="form-check"> <input class="form-check-input" type="checkbox" value=<%= an_asset_class.id %>  name = "include[]"> </div> </td>
        <td>  <input class="form-control" type="number" min="0" max="100" step="1" id="min_box" name="query_min[]" value = "0">    </td>
        <td>  <input class="form-control" type="number" min="0" max="100" step="1" id="max_box" name="query_max[]" value = "100">    </td>
        <td>  <input class="form-control" type="number" id="max_box" name="query_asset_class_id[]" value = <%= an_asset_class.id %> hidden>    </td>
      
      </tr>
      <% end %>
    </form>
    </div>
  </div>
    </table>
  