<div>
  <div>
    <h1>
      Frontier #<%= @the_frontier.id %> details
    </h1>

    <div>
      <div>
        <a href="/frontiers">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_frontier/<%= @the_frontier.id %>">
          Delete frontier
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_frontier.user_id %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @the_frontier.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_frontier.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_frontier.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit frontier
    </h2>

    <form action="/modify_frontier/<%= @the_frontier.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_frontier.user_id %>">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_frontier.name %>">
      </div>

      <button>
        Update frontier
      </button>
    </form>
  </div>
</div>

<hr>
