<div>
  <div>
    <h1>
      <%= @the_correlation.name %> Details
    </h1>

    <div>
      <div> <a href="/correlations"> Go back </a></div>
    </div>
  </div>
</div>

<hr>


<div>
  <div>
    <h3> Edit Correlation </h3>

    <form action="/modify_correlation/<%= @the_correlation.id %>"  method="post" >
      <div>
        <label for="name_box">Name </label>
        <input type="text" id="name_box" name="query_name" value="<%= @the_correlation.name %>">
      </div>
      <button> Update Name</button>
    </form>
  </div>
</div>

<hr>
<table class="table table-hover">
 <thead>
    <tr class="table">
      <th class="table" style = "background-color: #5445FF" scope="col">Asset Class</th>
      <% @asset_class.each do |assetclass| %>
            <th scope="col"><%= assetclass.name %></th>
      <% end %>
    </tr>
     <% for i in 1...@length%>
    <tr>
       <th scope="row"> <%= @asset_class[i-1].name%> </th>
    
        <% for j in 1...@length%>
            <% if @list_of_correlation_inputs.where(:correlation_id => @the_correlation.id).where(:asset_class1 => @asset_class[i-1].id).where(:asset_class2 => @asset_class[j-1].id)[0].correl == 1%>
            <td class="table" style = "background-color: #5445FF"><%= @list_of_correlation_inputs.where(:correlation_id => @the_correlation.id).where(:asset_class1 => @asset_class[i-1].id).where(:asset_class2 => @asset_class[j-1].id)[0].correl %></td>
            <% else%>
            <td class="table" ><%= @list_of_correlation_inputs.where(:correlation_id => @the_correlation.id).where(:asset_class1 => @asset_class[i-1].id).where(:asset_class2 => @asset_class[j-1].id)[0].correl %></td>
            <% end%>
        <% end %>
     <% end %>     
  </thead>
</table>
<form action = "/correlation_inputs" method = "get">
  <input type="text" id="correlation_id" name="correlation_id" value = "<%= @the_correlation.id %>" hidden>
  <input type="submit" value="Edit Inputs" class="btn btn-success btn-lg"> 
</form> 

<hr>
<div> <%= link_to 'Export to Excel', "download/#{@the_correlation.id}", format: :xlsx, :class=> "btn btn-info btn-lg" %> </div>
<hr>
     <h3>Excel Import</h3>
     <div>Update all values at once </div>

     <ol>
      <li>Export Excel Template Above </li>
      <li>Update Input Values in Excel </li>
      <li>Save File on Desktop </li>
      <li>Choose File below </li>
      <li>Click IMPORT once File has been selected </li>
      </ol>
  <%= form_tag "/correlations/import/#{@the_correlation.id}", multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "IMPORT", :class=> "btn btn-warning btn-lg"%>
  <% end %>