<div>
  <div>
    <h1>
      List of all portfolios
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new portfolio
    </h2>

    <form action="/insert_portfolio" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Create portfolio
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_portfolios.each do |a_portfolio| %>
      <tr>
        <td>
          <%= a_portfolio.id %>
        </td>

        <td>
          <%= a_portfolio.user_id %>
        </td>

        <td>
          <%= a_portfolio.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_portfolio.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_portfolio.updated_at) %> ago
        </td>

        <td>
          <a href="/portfolios/<%= a_portfolio.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
