<h3> <%= @the_portfolio.name %> Details </h3>

<div><a href="/portfolios"> Go back </a> </div>


<hr>

<h3>Edit portfolio </h3>
  <div class="col-12"> 
    
  <form class="form-group row" action="/modify_portfolio/<%= @the_portfolio.id %>"  method="post" >
      <div class="form-group row col-2">
        <label class="form-label" for="name_box">Name</label>
        <input class="form-control" type="text" id="name_box" name="query_name" value="<%= @the_portfolio.name %>">
      </div>
  <div class="form-group row col-2">
        <label class="form-label" for="cma_box">Capital Market Assumptions</label>
        <select type="text" id="cma_box" name="query_cma" class="form-control">
              <optgroup label="Curren Selection">
              <option><%= @cmas.where({:id => @the_portfolio.cma_id}).at(0).name %> </option>
              <optgroup label="Capital Market Assumptions">
               <%@cmas.each do |the_cma|%>
                <option> <%=the_cma.name%> </option>
              <%end%>
         </select>
      </div>
      
      <div class="form-group row col-2"> 
        <label class="form-label" for="correlation_box">Correlation Assumption</label>
        <select type="text" id="correlation_box" name="query_correlation" class="form-control">
         <optgroup label="Curren Selection">
        <% if Correlation.all.where({:id => @the_portfolio.correlation_id }).at(0).nil? %>
        <option>  </option>
        <optgroup label="Correlation Assumptions">
          <%@correlations.each do |the_correl|%>
                <option> <%=the_correl.name%> </option>
              <%end%>
          </select>
        <% else%>
        <option> <%= @correlations.where({:id => @the_portfolio.correlation_id}).at(0).name %> </option>
        <optgroup label="Correlation Assumptions">
          <%@correlations.each do |the_correl|%>
                <option> <%=the_correl.name%> </option>
              <%end%>
          </select>
        <% end %>  
      </div>
      <div class="form-group row col-2"> 
        <label class="form-label" for="benchmark_box">Benchmark</label>
        <select type="text" id="benchmark_box" name="query_benchmark" class="form-control">
         <optgroup label="Curren Selection">
        <% if @the_portfolio.benchmark.nil? %>
        <option>  </option>
        <% else%>
        <option> <%= @list_of_asset_classes.where({:id => @the_portfolio.benchmark}).at(0).name %> </option>
        <% end %>
        <optgroup label="Asset Classes">
          <%@list_of_asset_classes.each do |the_bench|%>
                <option> <%=the_bench.name%> </option>
              <%end%>
          </select>
      </div>    
    </div>

  
      <button type="submit" class="btn btn-success">Update Portfolio</button>
  
  </form>
 

<hr>

<%# <div class = col-12> %>
<table class="table table-hover">
<form action="/portfolios/<%= @the_portfolio.id %>/calculate" method="post">

      <tr class="table" style = "background-color: #5445FF">
        <th>Name</th>
        <th>Weight</th>
        <th hidden >ID</th>
        <th style ="background-color:#5445FF; border-bottom: 1px solid #39394B"> </th>
        <th>Expected Return</th>
        <th>Standard Deviation</th>
        <th>Skewness</th>
        <th>Kurtosis</th>
        <th>Yield</th>
        <th hidden >ID</th>
      </tr>

      <% @weights.where(:inclusion => "yes").each do |input| %>
      <tr class="table">
        <th>  <%= @list_of_asset_classes.where({:id => input.asset_class_id}).at(0).name %> </th>
        <td> <input class="form-control" readonly="" type="number"  name="query_weights[]" value = <%= input.weight %>>   </td>
        <th hidden>  <input class="form-control"   type="number"  name="portfolio_id" value = <%= @the_portfolio.id %>> </th>
        <td style ="background-color:#39394B; border-bottom: 1px solid #39394B"> </td>
        <td>  <input class="form-control" readonly=""  type="number"  name="query_mean[]" value = <%= (@cma_inputs.where({:cma_id => @the_portfolio.cma_id}).where({:asset_class_id => input.asset_class_id}).at(0).exp_ret*100).round(2) %> >    </td>
        <td>  <input class="form-control" readonly=""  type="number"  name="query_std_dev[]" value = <%= (@cma_inputs.where({:cma_id => @the_portfolio.cma_id}).where({:asset_class_id => input.asset_class_id}).at(0).std_dev*100).round(2) %> >  </td>
        <td>  <input class="form-control" readonly=""  type="number"  name="query_skew[]" value = <%= @cma_inputs.where({:cma_id => @the_portfolio.cma_id}).where({:asset_class_id => input.asset_class_id}).at(0).skew %> >   </td>
        <td>  <input class="form-control" readonly=""  type="number"  name="query_kurt[]" value = <%= @cma_inputs.where({:cma_id => @the_portfolio.cma_id}).where({:asset_class_id => input.asset_class_id}).at(0).kurt %> >   </td>
        <td>  <input class="form-control" readonly=""  type="number"  name="query_yield[]" value = <%= (@cma_inputs.where({:cma_id => @the_portfolio.cma_id}).where({:asset_class_id => input.asset_class_id}).at(0).yield*100).round(2) %> >  </td>
        <th hidden>  <input class="form-control"   type="number"  name="query_asset_id[]" value = <%= @list_of_asset_classes.where({:id => input.asset_class_id}).at(0).id %>> </th>
        <% if Correlation.all.where({:id => @the_portfolio.correlation_id }).at(0).nil? %>
        <th hidden>  <input class="form-control"   type="number"  name="coreltation_id" value = 0>> </th>        <option>  </option>
        <% else%>
        <th hidden>  <input class="form-control"   type="number"  name="coreltation_id" value = <%= @correlations.where({:id => @the_portfolio.correlation_id}).at(0).id %>> </th>
        <% end%>
      </tr>
     
      <% end %>
      <tr class="table" style ="background-color:#5445FF">
        <th>Benchmark </th>
        <th>Weight</th>
        <td> </td>
        <th>Expected Return</th>
        <th>Standard Deviation</th>
        <th>Skewness</th>
        <th>Kurtosis</th>
        <th>Yield</th>
       
      </tr>
      <% if @the_portfolio.benchmark.nil? %>
      <tr class="table">
        <td>No Benchmark </td>
      </tr>
      <% else%>  
      <tr class="table">
        <th>  <%= @list_of_asset_classes.where({:id => @the_portfolio.benchmark}).at(0).name %> </th>
        <td> <input class="form-control" readonly="" type="number"  name="query_weights[]" value = 100 >   </td>
        <th hidden>  <input class="form-control"   type="number"  name="portfolio_id" value = <%= @the_portfolio.id %>> </th>
        <td style ="background-color:#39394B; border-bottom: 1px solid #39394B"> </td>
        <td>  <input class="form-control" readonly=""  type="number"  name="query_mean[]" value = <%= (@cma_inputs.where({:cma_id => @the_portfolio.cma_id}).where({:asset_class_id => @the_portfolio.benchmark}).at(0).exp_ret*100).round(2) %> >    </td>
        <td>  <input class="form-control" readonly=""  type="number"  name="query_std_dev[]" value = <%= (@cma_inputs.where({:cma_id => @the_portfolio.cma_id}).where({:asset_class_id => @the_portfolio.benchmark}).at(0).std_dev*100).round(2) %> >  </td>
        <td>  <input class="form-control" readonly=""  type="number"  name="query_skew[]" value = <%= @cma_inputs.where({:cma_id => @the_portfolio.cma_id}).where({:asset_class_id => @the_portfolio.benchmark}).at(0).skew %> >   </td>
        <td>  <input class="form-control" readonly=""  type="number"  name="query_kurt[]" value = <%= @cma_inputs.where({:cma_id => @the_portfolio.cma_id}).where({:asset_class_id => @the_portfolio.benchmark}).at(0).kurt %> >   </td>
        <td>  <input class="form-control" readonly=""  type="number"  name="query_yield[]" value = <%= (@cma_inputs.where({:cma_id => @the_portfolio.cma_id}).where({:asset_class_id => @the_portfolio.benchmark}).at(0).yield*100).round(2) %> >  </td>
        <th hidden>  <input class="form-control"   type="number"  name="query_asset_id[]" value = <%= @list_of_asset_classes.where({:id => @the_portfolio.benchmark}).at(0).id %>> </th>
        <% if Correlation.all.where({:id => @the_portfolio.correlation_id }).at(0).nil? %>
        <th hidden>  <input class="form-control"   type="number"  name="coreltation_id" value = 0>> </th>        <option>  </option>
        <% else%>
        <th hidden>  <input class="form-control"   type="number"  name="coreltation_id" value = <%= @correlations.where({:id => @the_portfolio.correlation_id}).at(0).id %>> </th>
        <% end%>
      </tr>
      <% end%>
      </table>
      <button type="submit" class="btn btn-lg btn-success">Run Simulation</button>
      </form>
  <%# </div> %>
<hr>

<div class = col-8>
<form class="form-group" action="/modify_portfolio_weights/<%= @the_portfolio.id %>"  method="post" >
<div class="panel-group" id="accordion">
  <%# <div class="panel panel-default">
    <div class="panel-heading"> %>
      <button type = "button" style = "background-color: #5445FF" class="btn btn-lg">
        <a class = "text-white" data-toggle="collapse" data-parent="#accordion" href="#collapse1">Edit Portfolio</a>
      </button>
    </div>

<div id="collapse1" class="panel-collapse collapse in">
    <table class="table table-hover">
      <tr class="table" style = "background-color: #5445FF">
        <th>Name</th>
        <th>Include?</th>
        <th>Weight</th>
        <th hidden >ID </th>
      </tr>

      <% @weights.each do |input| %>
      <tr class="table" style = "background-color: #626278">
        <th>  <%= @list_of_asset_classes.where({:id => input.asset_class_id}).at(0).name %> </th>
        <td> <% if input.inclusion  == "yes"  %>
            <div class="form-check"> <input class="form-check-input" type="checkbox" value= <%= input.asset_class_id %> checked="" name = "include[]"> </div> 
            <% else%>
            <div class="form-check"> <input class="form-check-input" type="checkbox" value= <%= input.asset_class_id %> name = "include[]"> </div>
            <% end%>
        </td>
        <td>  <input class="form-control" type="number" min="0" max="100" step="0.01" id="min_box" name="query_weights[]" value = <%= input.weight %>>  </td>
        <td hidden>  <input class="form-control"  id="query_id" name="query_id[]" value = <%= input.id %>> </td>
        <td hidden>  <input class="form-control" type="number" id="max_box" name="query_asset_class_id[]" value = <%= input.asset_class_id %> hidden>    </td>
        
      </tr>
     
      <% end %>
      </table>
  <%# <div class = "form-group ">  %>
      <button type="submit" class="btn btn-success">Update Asset Class Settings</button>
  <%# </div> %>
</div>  

</div>

</form>