<div>
  <div>
    <h1>
      Portfolio #<%= @the_portfolio.id %> details
    </h1>

    <div>
      <div>
        <a href="/portfolios">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_portfolio/<%= @the_portfolio.id %>">
          Delete portfolio
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_portfolio.user_id %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @the_portfolio.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_portfolio.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_portfolio.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit portfolio
    </h2>

    <form action="/modify_portfolio/<%= @the_portfolio.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_portfolio.user_id %>">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_portfolio.name %>">
      </div>

      <button>
        Update portfolio
      </button>
    </form>
  </div>
</div>

<hr>
