<div>
  <div>
    <h3>List of Asset Classes</h3>
  </div>
</div>

<hr>

  <div class="row">
    <div class="col-6">
    <table class="table table-hover">
      <tr class="table" style = "background-color: #5445FF">
        <th>Name</th>
        <th>Broad Asset Class</th>
        <th>Sub-Asset Class</th>
        <th>Goal</th>
        <th>Details</th>
      </tr>

      <% @list_of_asset_classes.each do |an_asset_class| %>
      <tr class="table">
        <th>  <%= an_asset_class.name %> </th>
        <td>  <%= an_asset_class.broad_type %>    </td>
        <td>  <%= an_asset_class.subtype %>  </td>
        <td>  <%= an_asset_class.goal %>  </td>
        <td>  <a href="/asset_classes/<%= an_asset_class.id %>">Show details</a></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<%= link_to('Export to Excel', asset_class_download_path(format: :xlsx), :class=> "btn btn-info btn-lg") %>
<hr>
 <h4> Add a new Asset Class</h4>
    <form action="/insert_asset_class" method="post">
      <div class="form-group">
        <label for="name_box">Name</label>
        <input type="text" id="name_box" name="query_name">
      </div>
      <input type="submit" class="btn btn-success" value = "Create Asset Class">
    </form>

