
<div>
  <div>
    <h3> Edit Inputs: <%= @the_cma.name%> </h3>
  </div>
    <div>
        <a href="/cmas/<%= @the_cma.id%>">  Go back </a>
      </div>
</div>


<hr>
<div>
  <div class = col-8>
    

 <table class="table table-hover">
 <form action="/modify_cma_input" method="post">
   
   <thead>
   
    <tr style = "background-color: #5445FF">
      <th scope="col">Asset Class</th>
      <th scope="col">Expected Return (Arith)</th>
      <th scope="col">Standard Deviation</th>
      <th scope="col">Skewness</th>
      <th scope="col">Kurtosis</th>
      <th scope="col">Yield</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
   <tbody>
   <% @asset_class.each do |asset_class| %>
    <tr>
      <th scope="row"> <%= asset_class.name %> </th>
      <td> <input class="form-control" type="number" min="0" max="1" step="0.0001" id="exp_ret_box" name="query_exp_ret[]" value = <%= @list_of_cma_inputs.where(:cma_id => @the_cma.id).where(:asset_class => asset_class.id)[0].exp_ret.round(4)%> > </td>
      <td> <input class="form-control" type="number" min="0" max="1" step="0.0001" id="std_dev_box" name="query_std_dev[]" value = <%= @list_of_cma_inputs.where(:cma_id => @the_cma.id).where(:asset_class => asset_class.id)[0].std_dev.round(4)%>></td>
      <td> <input class="form-control" type="number" min="-100" max="100" step="0.01" id="skew_box" name="query_skew[]" value = <%= @list_of_cma_inputs.where(:cma_id => @the_cma.id).where(:asset_class => asset_class.id)[0].skew%>></td>
      <td> <input class="form-control" type="number" min="0" max="100" step="0.01" id="kurt_box" name="query_kurt[]" value = <%= @list_of_cma_inputs.where(:cma_id => @the_cma.id).where(:asset_class => asset_class.id)[0].kurt%>> </td>
      <td> <input class="form-control" type="number" min="0" max="1" step="0.0001" id="yield_box" name="query_yield[]" value = <%= @list_of_cma_inputs.where(:cma_id => @the_cma.id).where(:asset_class => asset_class.id)[0].yield.round(4)%>> </td>
      <td> <input class="form-control"  type="hidden" id="asset_class_id_box" name="query_asset_class_id[]" value = <%= asset_class.id %>></td>
      <td> <input class="form-control"  type="hidden" id="cma_id_box" name="query_cma_id[]" value = <%= @the_cma.id %>></td>
      <td> <input class="form-control"  type="hidden" id="cma_id_box" name="query_cma_input_id[]" value = <%= @list_of_cma_inputs.where(:cma_id => @the_cma.id).where(:asset_class => asset_class.id)[0].id%>></td>
    </tr>
        <%# <label for="cma_id_box"> CMA ID </label>
        <%# <label for="asset_class_id_box"> Asset class ID </label> %>
        <%# <label for="exp_ret_box"> Expected Return (Arith) </label>
        <label for="std_dev_box"> Standard Dev </label>
        <label for="skew_box"> Skewness</label>
        <label for="kurt_box"> Kurtosis</label>
        <label for="yield_box"> Yield</label> %> 
        
      <% end %>
    </tbody>
  </table>
     <input type="submit" class="btn btn-success btn-lg" value =  "Update CMAs" >
    </form>
  </div>
</div>

<hr>
