<div>
  <div>
    <h1>
      Cma #<%= @the_cma.id %> details
    </h1>

    <div>
      <div>
        <a href="/cmas">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_cma/<%= @the_cma.id %>">
          Delete cma
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_cma.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_cma.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_cma.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit cma
    </h2>

    <form action="/modify_cma/<%= @the_cma.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_cma.name %>">
      </div>

      <button>
        Update cma
      </button>
    </form>
  </div>
</div>

<hr>
