<div>
  <div>
    <h1>
      List of all forecast inputs
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new forecast input
    </h2>

    <form action="/insert_forecast_input" method="post">
      <div>
        <label for="forecast_id_box">
          Forecast
        </label>

        <input type="text" id="forecast_id_box" name="query_forecast_id">
      </div>

      <div>
        <label for="inflation_box">
          Inflation
        </label>

        <input type="text" id="inflation_box" name="query_inflation">
      </div>

      <div>
        <label for="starting_value_box">
          Starting value
        </label>

        <input type="text" id="starting_value_box" name="query_starting_value">
      </div>

      <div>
        <label for="income_box">
          Income
        </label>

        <input type="text" id="income_box" name="query_income">
      </div>

      <div>
        <label for="spend_value_box">
          Spend value
        </label>

        <input type="text" id="spend_value_box" name="query_spend_value">
      </div>

      <div>
        <label for="years_income_box">
          Years income
        </label>

        <input type="text" id="years_income_box" name="query_years_income">
      </div>

      <div>
        <label for="years_forecast_box">
          Years forecast
        </label>

        <input type="text" id="years_forecast_box" name="query_years_forecast">
      </div>

      <div>
        <label for="portfolio1_id_box">
          Portfolio1
        </label>

        <input type="text" id="portfolio1_id_box" name="query_portfolio1_id">
      </div>

      <div>
        <label for="portfolio2_id_box">
          Portfolio2
        </label>

        <input type="text" id="portfolio2_id_box" name="query_portfolio2_id">
      </div>

      <div>
        <label for="weight_port1_box">
          Weight port1
        </label>

        <input type="text" id="weight_port1_box" name="query_weight_port1">
      </div>

      <div>
        <label for="weight_port2_box">
          Weight port2
        </label>

        <input type="text" id="weight_port2_box" name="query_weight_port2">
      </div>

      <div>
        <label for="cma_id_box">
          Cma
        </label>

        <input type="text" id="cma_id_box" name="query_cma_id">
      </div>

      <div>
        <label for="correlation_id_box">
          Correlation
        </label>

        <input type="text" id="correlation_id_box" name="query_correlation_id">
      </div>

      <div>
        <label for="year1_cf_box">
          Year1 cf
        </label>

        <input type="text" id="year1_cf_box" name="query_year1_cf">
      </div>

      <div>
        <label for="year2_cf_box">
          Year2 cf
        </label>

        <input type="text" id="year2_cf_box" name="query_year2_cf">
      </div>

      <div>
        <label for="year3_cf_box">
          Year3 cf
        </label>

        <input type="text" id="year3_cf_box" name="query_year3_cf">
      </div>

      <div>
        <label for="year4_cf_box">
          Year4 cf
        </label>

        <input type="text" id="year4_cf_box" name="query_year4_cf">
      </div>

      <div>
        <label for="year5_cf_box">
          Year5 cf
        </label>

        <input type="text" id="year5_cf_box" name="query_year5_cf">
      </div>

      <div>
        <label for="year6_cf_box">
          Year6 cf
        </label>

        <input type="text" id="year6_cf_box" name="query_year6_cf">
      </div>

      <div>
        <label for="year7_cf_box">
          Year7 cf
        </label>

        <input type="text" id="year7_cf_box" name="query_year7_cf">
      </div>

      <div>
        <label for="year8_cf_box">
          Year8 cf
        </label>

        <input type="text" id="year8_cf_box" name="query_year8_cf">
      </div>

      <div>
        <label for="year9_cf_box">
          Year9 cf
        </label>

        <input type="text" id="year9_cf_box" name="query_year9_cf">
      </div>

      <div>
        <label for="year10_cf_box">
          Year10 cf
        </label>

        <input type="text" id="year10_cf_box" name="query_year10_cf">
      </div>

      <div>
        <label for="year11_cf_box">
          Year11 cf
        </label>

        <input type="text" id="year11_cf_box" name="query_year11_cf">
      </div>

      <div>
        <label for="year12_cf_box">
          Year12 cf
        </label>

        <input type="text" id="year12_cf_box" name="query_year12_cf">
      </div>

      <div>
        <label for="year13_cf_box">
          Year13 cf
        </label>

        <input type="text" id="year13_cf_box" name="query_year13_cf">
      </div>

      <div>
        <label for="year14_cf_box">
          Year14 cf
        </label>

        <input type="text" id="year14_cf_box" name="query_year14_cf">
      </div>

      <div>
        <label for="year15_cf_box">
          Year15 cf
        </label>

        <input type="text" id="year15_cf_box" name="query_year15_cf">
      </div>

      <div>
        <label for="year16_cf_box">
          Year16 cf
        </label>

        <input type="text" id="year16_cf_box" name="query_year16_cf">
      </div>

      <div>
        <label for="year17_cf_box">
          Year17 cf
        </label>

        <input type="text" id="year17_cf_box" name="query_year17_cf">
      </div>

      <div>
        <label for="year18_cf_box">
          Year18 cf
        </label>

        <input type="text" id="year18_cf_box" name="query_year18_cf">
      </div>

      <div>
        <label for="year19_cf_box">
          Year19 cf
        </label>

        <input type="text" id="year19_cf_box" name="query_year19_cf">
      </div>

      <div>
        <label for="year20_cf_box">
          Year20 cf
        </label>

        <input type="text" id="year20_cf_box" name="query_year20_cf">
      </div>

      <div>
        <label for="year21_cf_box">
          Year21 cf
        </label>

        <input type="text" id="year21_cf_box" name="query_year21_cf">
      </div>

      <div>
        <label for="year22_cf_box">
          Year22 cf
        </label>

        <input type="text" id="year22_cf_box" name="query_year22_cf">
      </div>

      <div>
        <label for="year23_cf_box">
          Year23 cf
        </label>

        <input type="text" id="year23_cf_box" name="query_year23_cf">
      </div>

      <div>
        <label for="year24_cf_box">
          Year24 cf
        </label>

        <input type="text" id="year24_cf_box" name="query_year24_cf">
      </div>

      <div>
        <label for="year25_cf_box">
          Year25 cf
        </label>

        <input type="text" id="year25_cf_box" name="query_year25_cf">
      </div>

      <div>
        <label for="year26_cf_box">
          Year26 cf
        </label>

        <input type="text" id="year26_cf_box" name="query_year26_cf">
      </div>

      <div>
        <label for="year27_cf_box">
          Year27 cf
        </label>

        <input type="text" id="year27_cf_box" name="query_year27_cf">
      </div>

      <div>
        <label for="year28_cf_box">
          Year28 cf
        </label>

        <input type="text" id="year28_cf_box" name="query_year28_cf">
      </div>

      <div>
        <label for="year29_cf_box">
          Year29 cf
        </label>

        <input type="text" id="year29_cf_box" name="query_year29_cf">
      </div>

      <div>
        <label for="year30_cf_box">
          Year30 cf
        </label>

        <input type="text" id="year30_cf_box" name="query_year30_cf">
      </div>

      <div>
        <label for="year1_cma_id_box">
          Year1 cma
        </label>

        <input type="text" id="year1_cma_id_box" name="query_year1_cma_id">
      </div>

      <div>
        <label for="year2_cma_id_box">
          Year2 cma
        </label>

        <input type="text" id="year2_cma_id_box" name="query_year2_cma_id">
      </div>

      <div>
        <label for="year3_cma_id_box">
          Year3 cma
        </label>

        <input type="text" id="year3_cma_id_box" name="query_year3_cma_id">
      </div>

      <div>
        <label for="year4_cma_id_box">
          Year4 cma
        </label>

        <input type="text" id="year4_cma_id_box" name="query_year4_cma_id">
      </div>

      <div>
        <label for="year5_cma_id_box">
          Year5 cma
        </label>

        <input type="text" id="year5_cma_id_box" name="query_year5_cma_id">
      </div>

      <div>
        <label for="year6_cma_id_box">
          Year6 cma
        </label>

        <input type="text" id="year6_cma_id_box" name="query_year6_cma_id">
      </div>

      <div>
        <label for="year7_cma_id_box">
          Year7 cma
        </label>

        <input type="text" id="year7_cma_id_box" name="query_year7_cma_id">
      </div>

      <div>
        <label for="year8_cma_id_box">
          Year8 cma
        </label>

        <input type="text" id="year8_cma_id_box" name="query_year8_cma_id">
      </div>

      <div>
        <label for="year9_cma_id_box">
          Year9 cma
        </label>

        <input type="text" id="year9_cma_id_box" name="query_year9_cma_id">
      </div>

      <div>
        <label for="year10_cma_id_box">
          Year10 cma
        </label>

        <input type="text" id="year10_cma_id_box" name="query_year10_cma_id">
      </div>

      <div>
        <label for="year11_cma_id_box">
          Year11 cma
        </label>

        <input type="text" id="year11_cma_id_box" name="query_year11_cma_id">
      </div>

      <div>
        <label for="year12_cma_id_box">
          Year12 cma
        </label>

        <input type="text" id="year12_cma_id_box" name="query_year12_cma_id">
      </div>

      <div>
        <label for="year13_cma_id_box">
          Year13 cma
        </label>

        <input type="text" id="year13_cma_id_box" name="query_year13_cma_id">
      </div>

      <div>
        <label for="year14_cma_id_box">
          Year14 cma
        </label>

        <input type="text" id="year14_cma_id_box" name="query_year14_cma_id">
      </div>

      <div>
        <label for="year15_cma_id_box">
          Year15 cma
        </label>

        <input type="text" id="year15_cma_id_box" name="query_year15_cma_id">
      </div>

      <div>
        <label for="year16_cma_id_box">
          Year16 cma
        </label>

        <input type="text" id="year16_cma_id_box" name="query_year16_cma_id">
      </div>

      <div>
        <label for="year17_cma_id_box">
          Year17 cma
        </label>

        <input type="text" id="year17_cma_id_box" name="query_year17_cma_id">
      </div>

      <div>
        <label for="year18_cma_id_box">
          Year18 cma
        </label>

        <input type="text" id="year18_cma_id_box" name="query_year18_cma_id">
      </div>

      <div>
        <label for="year19_cma_id_box">
          Year19 cma
        </label>

        <input type="text" id="year19_cma_id_box" name="query_year19_cma_id">
      </div>

      <div>
        <label for="year20_cma_id_box">
          Year20 cma
        </label>

        <input type="text" id="year20_cma_id_box" name="query_year20_cma_id">
      </div>

      <div>
        <label for="year21_cma_id_box">
          Year21 cma
        </label>

        <input type="text" id="year21_cma_id_box" name="query_year21_cma_id">
      </div>

      <div>
        <label for="year22_cma_id_box">
          Year22 cma
        </label>

        <input type="text" id="year22_cma_id_box" name="query_year22_cma_id">
      </div>

      <div>
        <label for="year23_cma_id_box">
          Year23 cma
        </label>

        <input type="text" id="year23_cma_id_box" name="query_year23_cma_id">
      </div>

      <div>
        <label for="year24_cma_id_box">
          Year24 cma
        </label>

        <input type="text" id="year24_cma_id_box" name="query_year24_cma_id">
      </div>

      <div>
        <label for="year25_cma_id_box">
          Year25 cma
        </label>

        <input type="text" id="year25_cma_id_box" name="query_year25_cma_id">
      </div>

      <div>
        <label for="year26_cma_id_box">
          Year26 cma
        </label>

        <input type="text" id="year26_cma_id_box" name="query_year26_cma_id">
      </div>

      <div>
        <label for="year27_cma_id_box">
          Year27 cma
        </label>

        <input type="text" id="year27_cma_id_box" name="query_year27_cma_id">
      </div>

      <div>
        <label for="year28_cma_id_box">
          Year28 cma
        </label>

        <input type="text" id="year28_cma_id_box" name="query_year28_cma_id">
      </div>

      <div>
        <label for="year29_cma_id_box">
          Year29 cma
        </label>

        <input type="text" id="year29_cma_id_box" name="query_year29_cma_id">
      </div>

      <div>
        <label for="year30_cma_id_box">
          Year30 cma
        </label>

        <input type="text" id="year30_cma_id_box" name="query_year30_cma_id">
      </div>

      <div>
        <label for="year1_correl_id_box">
          Year1 correl
        </label>

        <input type="text" id="year1_correl_id_box" name="query_year1_correl_id">
      </div>

      <div>
        <label for="year2_correl_id_box">
          Year2 correl
        </label>

        <input type="text" id="year2_correl_id_box" name="query_year2_correl_id">
      </div>

      <div>
        <label for="year3_correl_id_box">
          Year3 correl
        </label>

        <input type="text" id="year3_correl_id_box" name="query_year3_correl_id">
      </div>

      <div>
        <label for="year4_correl_id_box">
          Year4 correl
        </label>

        <input type="text" id="year4_correl_id_box" name="query_year4_correl_id">
      </div>

      <div>
        <label for="year5_correl_id_box">
          Year5 correl
        </label>

        <input type="text" id="year5_correl_id_box" name="query_year5_correl_id">
      </div>

      <div>
        <label for="year6_correl_id_box">
          Year6 correl
        </label>

        <input type="text" id="year6_correl_id_box" name="query_year6_correl_id">
      </div>

      <div>
        <label for="year7_correl_id_box">
          Year7 correl
        </label>

        <input type="text" id="year7_correl_id_box" name="query_year7_correl_id">
      </div>

      <div>
        <label for="year8_correl_id_box">
          Year8 correl
        </label>

        <input type="text" id="year8_correl_id_box" name="query_year8_correl_id">
      </div>

      <div>
        <label for="year9_correl_id_box">
          Year9 correl
        </label>

        <input type="text" id="year9_correl_id_box" name="query_year9_correl_id">
      </div>

      <div>
        <label for="year10_correl_id_box">
          Year10 correl
        </label>

        <input type="text" id="year10_correl_id_box" name="query_year10_correl_id">
      </div>

      <div>
        <label for="year11_correl_id_box">
          Year11 correl
        </label>

        <input type="text" id="year11_correl_id_box" name="query_year11_correl_id">
      </div>

      <div>
        <label for="year12_correl_id_box">
          Year12 correl
        </label>

        <input type="text" id="year12_correl_id_box" name="query_year12_correl_id">
      </div>

      <div>
        <label for="year13_correl_id_box">
          Year13 correl
        </label>

        <input type="text" id="year13_correl_id_box" name="query_year13_correl_id">
      </div>

      <div>
        <label for="year14_correl_id_box">
          Year14 correl
        </label>

        <input type="text" id="year14_correl_id_box" name="query_year14_correl_id">
      </div>

      <div>
        <label for="year15_correl_id_box">
          Year15 correl
        </label>

        <input type="text" id="year15_correl_id_box" name="query_year15_correl_id">
      </div>

      <div>
        <label for="year16_correl_id_box">
          Year16 correl
        </label>

        <input type="text" id="year16_correl_id_box" name="query_year16_correl_id">
      </div>

      <div>
        <label for="year17_correl_id_box">
          Year17 correl
        </label>

        <input type="text" id="year17_correl_id_box" name="query_year17_correl_id">
      </div>

      <div>
        <label for="year18_correl_id_box">
          Year18 correl
        </label>

        <input type="text" id="year18_correl_id_box" name="query_year18_correl_id">
      </div>

      <div>
        <label for="year19_correl_id_box">
          Year19 correl
        </label>

        <input type="text" id="year19_correl_id_box" name="query_year19_correl_id">
      </div>

      <div>
        <label for="year20_correl_id_box">
          Year20 correl
        </label>

        <input type="text" id="year20_correl_id_box" name="query_year20_correl_id">
      </div>

      <div>
        <label for="year21_correl_id_box">
          Year21 correl
        </label>

        <input type="text" id="year21_correl_id_box" name="query_year21_correl_id">
      </div>

      <div>
        <label for="year22_correl_id_box">
          Year22 correl
        </label>

        <input type="text" id="year22_correl_id_box" name="query_year22_correl_id">
      </div>

      <div>
        <label for="year23_correl_id_box">
          Year23 correl
        </label>

        <input type="text" id="year23_correl_id_box" name="query_year23_correl_id">
      </div>

      <div>
        <label for="year24_correl_id_box">
          Year24 correl
        </label>

        <input type="text" id="year24_correl_id_box" name="query_year24_correl_id">
      </div>

      <div>
        <label for="year25_correl_id_box">
          Year25 correl
        </label>

        <input type="text" id="year25_correl_id_box" name="query_year25_correl_id">
      </div>

      <div>
        <label for="year26_correl_id_box">
          Year26 correl
        </label>

        <input type="text" id="year26_correl_id_box" name="query_year26_correl_id">
      </div>

      <div>
        <label for="year27_correl_id_box">
          Year27 correl
        </label>

        <input type="text" id="year27_correl_id_box" name="query_year27_correl_id">
      </div>

      <div>
        <label for="year28_correl_id_box">
          Year28 correl
        </label>

        <input type="text" id="year28_correl_id_box" name="query_year28_correl_id">
      </div>

      <div>
        <label for="year29_correl_id_box">
          Year29 correl
        </label>

        <input type="text" id="year29_correl_id_box" name="query_year29_correl_id">
      </div>

      <div>
        <label for="year30_correl_id_box">
          Year30 correl
        </label>

        <input type="text" id="year30_correl_id_box" name="query_year30_correl_id">
      </div>

      <button>
        Create forecast input
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Forecast
        </th>

        <th>
          Inflation
        </th>

        <th>
          Starting value
        </th>

        <th>
          Income
        </th>

        <th>
          Spend value
        </th>

        <th>
          Years income
        </th>

        <th>
          Years forecast
        </th>

        <th>
          Portfolio1
        </th>

        <th>
          Portfolio2
        </th>

        <th>
          Weight port1
        </th>

        <th>
          Weight port2
        </th>

        <th>
          Cma
        </th>

        <th>
          Correlation
        </th>

        <th>
          Year1 cf
        </th>

        <th>
          Year2 cf
        </th>

        <th>
          Year3 cf
        </th>

        <th>
          Year4 cf
        </th>

        <th>
          Year5 cf
        </th>

        <th>
          Year6 cf
        </th>

        <th>
          Year7 cf
        </th>

        <th>
          Year8 cf
        </th>

        <th>
          Year9 cf
        </th>

        <th>
          Year10 cf
        </th>

        <th>
          Year11 cf
        </th>

        <th>
          Year12 cf
        </th>

        <th>
          Year13 cf
        </th>

        <th>
          Year14 cf
        </th>

        <th>
          Year15 cf
        </th>

        <th>
          Year16 cf
        </th>

        <th>
          Year17 cf
        </th>

        <th>
          Year18 cf
        </th>

        <th>
          Year19 cf
        </th>

        <th>
          Year20 cf
        </th>

        <th>
          Year21 cf
        </th>

        <th>
          Year22 cf
        </th>

        <th>
          Year23 cf
        </th>

        <th>
          Year24 cf
        </th>

        <th>
          Year25 cf
        </th>

        <th>
          Year26 cf
        </th>

        <th>
          Year27 cf
        </th>

        <th>
          Year28 cf
        </th>

        <th>
          Year29 cf
        </th>

        <th>
          Year30 cf
        </th>

        <th>
          Year1 cma
        </th>

        <th>
          Year2 cma
        </th>

        <th>
          Year3 cma
        </th>

        <th>
          Year4 cma
        </th>

        <th>
          Year5 cma
        </th>

        <th>
          Year6 cma
        </th>

        <th>
          Year7 cma
        </th>

        <th>
          Year8 cma
        </th>

        <th>
          Year9 cma
        </th>

        <th>
          Year10 cma
        </th>

        <th>
          Year11 cma
        </th>

        <th>
          Year12 cma
        </th>

        <th>
          Year13 cma
        </th>

        <th>
          Year14 cma
        </th>

        <th>
          Year15 cma
        </th>

        <th>
          Year16 cma
        </th>

        <th>
          Year17 cma
        </th>

        <th>
          Year18 cma
        </th>

        <th>
          Year19 cma
        </th>

        <th>
          Year20 cma
        </th>

        <th>
          Year21 cma
        </th>

        <th>
          Year22 cma
        </th>

        <th>
          Year23 cma
        </th>

        <th>
          Year24 cma
        </th>

        <th>
          Year25 cma
        </th>

        <th>
          Year26 cma
        </th>

        <th>
          Year27 cma
        </th>

        <th>
          Year28 cma
        </th>

        <th>
          Year29 cma
        </th>

        <th>
          Year30 cma
        </th>

        <th>
          Year1 correl
        </th>

        <th>
          Year2 correl
        </th>

        <th>
          Year3 correl
        </th>

        <th>
          Year4 correl
        </th>

        <th>
          Year5 correl
        </th>

        <th>
          Year6 correl
        </th>

        <th>
          Year7 correl
        </th>

        <th>
          Year8 correl
        </th>

        <th>
          Year9 correl
        </th>

        <th>
          Year10 correl
        </th>

        <th>
          Year11 correl
        </th>

        <th>
          Year12 correl
        </th>

        <th>
          Year13 correl
        </th>

        <th>
          Year14 correl
        </th>

        <th>
          Year15 correl
        </th>

        <th>
          Year16 correl
        </th>

        <th>
          Year17 correl
        </th>

        <th>
          Year18 correl
        </th>

        <th>
          Year19 correl
        </th>

        <th>
          Year20 correl
        </th>

        <th>
          Year21 correl
        </th>

        <th>
          Year22 correl
        </th>

        <th>
          Year23 correl
        </th>

        <th>
          Year24 correl
        </th>

        <th>
          Year25 correl
        </th>

        <th>
          Year26 correl
        </th>

        <th>
          Year27 correl
        </th>

        <th>
          Year28 correl
        </th>

        <th>
          Year29 correl
        </th>

        <th>
          Year30 correl
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_forecast_inputs.each do |a_forecast_input| %>
      <tr>
        <td>
          <%= a_forecast_input.id %>
        </td>

        <td>
          <%= a_forecast_input.forecast_id %>
        </td>

        <td>
          <%= a_forecast_input.inflation %>
        </td>

        <td>
          <%= a_forecast_input.starting_value %>
        </td>

        <td>
          <%= a_forecast_input.income %>
        </td>

        <td>
          <%= a_forecast_input.spend_value %>
        </td>

        <td>
          <%= a_forecast_input.years_income %>
        </td>

        <td>
          <%= a_forecast_input.years_forecast %>
        </td>

        <td>
          <%= a_forecast_input.portfolio1_id %>
        </td>

        <td>
          <%= a_forecast_input.portfolio2_id %>
        </td>

        <td>
          <%= a_forecast_input.weight_port1 %>
        </td>

        <td>
          <%= a_forecast_input.weight_port2 %>
        </td>

        <td>
          <%= a_forecast_input.cma_id %>
        </td>

        <td>
          <%= a_forecast_input.correlation_id %>
        </td>

        <td>
          <%= a_forecast_input.year1_cf %>
        </td>

        <td>
          <%= a_forecast_input.year2_cf %>
        </td>

        <td>
          <%= a_forecast_input.year3_cf %>
        </td>

        <td>
          <%= a_forecast_input.year4_cf %>
        </td>

        <td>
          <%= a_forecast_input.year5_cf %>
        </td>

        <td>
          <%= a_forecast_input.year6_cf %>
        </td>

        <td>
          <%= a_forecast_input.year7_cf %>
        </td>

        <td>
          <%= a_forecast_input.year8_cf %>
        </td>

        <td>
          <%= a_forecast_input.year9_cf %>
        </td>

        <td>
          <%= a_forecast_input.year10_cf %>
        </td>

        <td>
          <%= a_forecast_input.year11_cf %>
        </td>

        <td>
          <%= a_forecast_input.year12_cf %>
        </td>

        <td>
          <%= a_forecast_input.year13_cf %>
        </td>

        <td>
          <%= a_forecast_input.year14_cf %>
        </td>

        <td>
          <%= a_forecast_input.year15_cf %>
        </td>

        <td>
          <%= a_forecast_input.year16_cf %>
        </td>

        <td>
          <%= a_forecast_input.year17_cf %>
        </td>

        <td>
          <%= a_forecast_input.year18_cf %>
        </td>

        <td>
          <%= a_forecast_input.year19_cf %>
        </td>

        <td>
          <%= a_forecast_input.year20_cf %>
        </td>

        <td>
          <%= a_forecast_input.year21_cf %>
        </td>

        <td>
          <%= a_forecast_input.year22_cf %>
        </td>

        <td>
          <%= a_forecast_input.year23_cf %>
        </td>

        <td>
          <%= a_forecast_input.year24_cf %>
        </td>

        <td>
          <%= a_forecast_input.year25_cf %>
        </td>

        <td>
          <%= a_forecast_input.year26_cf %>
        </td>

        <td>
          <%= a_forecast_input.year27_cf %>
        </td>

        <td>
          <%= a_forecast_input.year28_cf %>
        </td>

        <td>
          <%= a_forecast_input.year29_cf %>
        </td>

        <td>
          <%= a_forecast_input.year30_cf %>
        </td>

        <td>
          <%= a_forecast_input.year1_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year2_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year3_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year4_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year5_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year6_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year7_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year8_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year9_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year10_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year11_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year12_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year13_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year14_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year15_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year16_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year17_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year18_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year19_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year20_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year21_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year22_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year23_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year24_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year25_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year26_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year27_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year28_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year29_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year30_cma_id %>
        </td>

        <td>
          <%= a_forecast_input.year1_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year2_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year3_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year4_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year5_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year6_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year7_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year8_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year9_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year10_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year11_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year12_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year13_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year14_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year15_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year16_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year17_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year18_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year19_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year20_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year21_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year22_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year23_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year24_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year25_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year26_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year27_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year28_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year29_correl_id %>
        </td>

        <td>
          <%= a_forecast_input.year30_correl_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_forecast_input.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_forecast_input.updated_at) %> ago
        </td>

        <td>
          <a href="/forecast_inputs/<%= a_forecast_input.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
