<div>
  <div>
    <h1>
      Forecast input #<%= @the_forecast_input.id %> details
    </h1>

    <div>
      <div>
        <a href="/forecast_inputs">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_forecast_input/<%= @the_forecast_input.id %>">
          Delete forecast input
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Forecast
      </dt>
      <dd>
        <%= @the_forecast_input.forecast_id %>
      </dd>

      <dt>
        Inflation
      </dt>
      <dd>
        <%= @the_forecast_input.inflation %>
      </dd>

      <dt>
        Starting value
      </dt>
      <dd>
        <%= @the_forecast_input.starting_value %>
      </dd>

      <dt>
        Income
      </dt>
      <dd>
        <%= @the_forecast_input.income %>
      </dd>

      <dt>
        Spend value
      </dt>
      <dd>
        <%= @the_forecast_input.spend_value %>
      </dd>

      <dt>
        Years income
      </dt>
      <dd>
        <%= @the_forecast_input.years_income %>
      </dd>

      <dt>
        Years forecast
      </dt>
      <dd>
        <%= @the_forecast_input.years_forecast %>
      </dd>

      <dt>
        Portfolio1
      </dt>
      <dd>
        <%= @the_forecast_input.portfolio1_id %>
      </dd>

      <dt>
        Portfolio2
      </dt>
      <dd>
        <%= @the_forecast_input.portfolio2_id %>
      </dd>

      <dt>
        Weight port1
      </dt>
      <dd>
        <%= @the_forecast_input.weight_port1 %>
      </dd>

      <dt>
        Weight port2
      </dt>
      <dd>
        <%= @the_forecast_input.weight_port2 %>
      </dd>

      <dt>
        Cma
      </dt>
      <dd>
        <%= @the_forecast_input.cma_id %>
      </dd>

      <dt>
        Correlation
      </dt>
      <dd>
        <%= @the_forecast_input.correlation_id %>
      </dd>

      <dt>
        Year1 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year1_cf %>
      </dd>

      <dt>
        Year2 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year2_cf %>
      </dd>

      <dt>
        Year3 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year3_cf %>
      </dd>

      <dt>
        Year4 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year4_cf %>
      </dd>

      <dt>
        Year5 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year5_cf %>
      </dd>

      <dt>
        Year6 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year6_cf %>
      </dd>

      <dt>
        Year7 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year7_cf %>
      </dd>

      <dt>
        Year8 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year8_cf %>
      </dd>

      <dt>
        Year9 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year9_cf %>
      </dd>

      <dt>
        Year10 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year10_cf %>
      </dd>

      <dt>
        Year11 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year11_cf %>
      </dd>

      <dt>
        Year12 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year12_cf %>
      </dd>

      <dt>
        Year13 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year13_cf %>
      </dd>

      <dt>
        Year14 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year14_cf %>
      </dd>

      <dt>
        Year15 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year15_cf %>
      </dd>

      <dt>
        Year16 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year16_cf %>
      </dd>

      <dt>
        Year17 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year17_cf %>
      </dd>

      <dt>
        Year18 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year18_cf %>
      </dd>

      <dt>
        Year19 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year19_cf %>
      </dd>

      <dt>
        Year20 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year20_cf %>
      </dd>

      <dt>
        Year21 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year21_cf %>
      </dd>

      <dt>
        Year22 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year22_cf %>
      </dd>

      <dt>
        Year23 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year23_cf %>
      </dd>

      <dt>
        Year24 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year24_cf %>
      </dd>

      <dt>
        Year25 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year25_cf %>
      </dd>

      <dt>
        Year26 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year26_cf %>
      </dd>

      <dt>
        Year27 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year27_cf %>
      </dd>

      <dt>
        Year28 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year28_cf %>
      </dd>

      <dt>
        Year29 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year29_cf %>
      </dd>

      <dt>
        Year30 cf
      </dt>
      <dd>
        <%= @the_forecast_input.year30_cf %>
      </dd>

      <dt>
        Year1 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year1_cma_id %>
      </dd>

      <dt>
        Year2 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year2_cma_id %>
      </dd>

      <dt>
        Year3 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year3_cma_id %>
      </dd>

      <dt>
        Year4 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year4_cma_id %>
      </dd>

      <dt>
        Year5 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year5_cma_id %>
      </dd>

      <dt>
        Year6 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year6_cma_id %>
      </dd>

      <dt>
        Year7 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year7_cma_id %>
      </dd>

      <dt>
        Year8 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year8_cma_id %>
      </dd>

      <dt>
        Year9 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year9_cma_id %>
      </dd>

      <dt>
        Year10 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year10_cma_id %>
      </dd>

      <dt>
        Year11 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year11_cma_id %>
      </dd>

      <dt>
        Year12 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year12_cma_id %>
      </dd>

      <dt>
        Year13 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year13_cma_id %>
      </dd>

      <dt>
        Year14 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year14_cma_id %>
      </dd>

      <dt>
        Year15 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year15_cma_id %>
      </dd>

      <dt>
        Year16 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year16_cma_id %>
      </dd>

      <dt>
        Year17 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year17_cma_id %>
      </dd>

      <dt>
        Year18 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year18_cma_id %>
      </dd>

      <dt>
        Year19 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year19_cma_id %>
      </dd>

      <dt>
        Year20 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year20_cma_id %>
      </dd>

      <dt>
        Year21 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year21_cma_id %>
      </dd>

      <dt>
        Year22 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year22_cma_id %>
      </dd>

      <dt>
        Year23 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year23_cma_id %>
      </dd>

      <dt>
        Year24 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year24_cma_id %>
      </dd>

      <dt>
        Year25 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year25_cma_id %>
      </dd>

      <dt>
        Year26 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year26_cma_id %>
      </dd>

      <dt>
        Year27 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year27_cma_id %>
      </dd>

      <dt>
        Year28 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year28_cma_id %>
      </dd>

      <dt>
        Year29 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year29_cma_id %>
      </dd>

      <dt>
        Year30 cma
      </dt>
      <dd>
        <%= @the_forecast_input.year30_cma_id %>
      </dd>

      <dt>
        Year1 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year1_correl_id %>
      </dd>

      <dt>
        Year2 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year2_correl_id %>
      </dd>

      <dt>
        Year3 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year3_correl_id %>
      </dd>

      <dt>
        Year4 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year4_correl_id %>
      </dd>

      <dt>
        Year5 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year5_correl_id %>
      </dd>

      <dt>
        Year6 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year6_correl_id %>
      </dd>

      <dt>
        Year7 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year7_correl_id %>
      </dd>

      <dt>
        Year8 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year8_correl_id %>
      </dd>

      <dt>
        Year9 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year9_correl_id %>
      </dd>

      <dt>
        Year10 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year10_correl_id %>
      </dd>

      <dt>
        Year11 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year11_correl_id %>
      </dd>

      <dt>
        Year12 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year12_correl_id %>
      </dd>

      <dt>
        Year13 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year13_correl_id %>
      </dd>

      <dt>
        Year14 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year14_correl_id %>
      </dd>

      <dt>
        Year15 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year15_correl_id %>
      </dd>

      <dt>
        Year16 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year16_correl_id %>
      </dd>

      <dt>
        Year17 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year17_correl_id %>
      </dd>

      <dt>
        Year18 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year18_correl_id %>
      </dd>

      <dt>
        Year19 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year19_correl_id %>
      </dd>

      <dt>
        Year20 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year20_correl_id %>
      </dd>

      <dt>
        Year21 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year21_correl_id %>
      </dd>

      <dt>
        Year22 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year22_correl_id %>
      </dd>

      <dt>
        Year23 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year23_correl_id %>
      </dd>

      <dt>
        Year24 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year24_correl_id %>
      </dd>

      <dt>
        Year25 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year25_correl_id %>
      </dd>

      <dt>
        Year26 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year26_correl_id %>
      </dd>

      <dt>
        Year27 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year27_correl_id %>
      </dd>

      <dt>
        Year28 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year28_correl_id %>
      </dd>

      <dt>
        Year29 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year29_correl_id %>
      </dd>

      <dt>
        Year30 correl
      </dt>
      <dd>
        <%= @the_forecast_input.year30_correl_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_forecast_input.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_forecast_input.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit forecast input
    </h2>

    <form action="/modify_forecast_input/<%= @the_forecast_input.id %>"  method="post" >
      <div>
        <label for="forecast_id_box">
          Forecast
        </label>

        <input type="text" id="forecast_id_box" name="query_forecast_id" value="<%= @the_forecast_input.forecast_id %>">
      </div>

      <div>
        <label for="inflation_box">
          Inflation
        </label>

        <input type="text" id="inflation_box" name="query_inflation" value="<%= @the_forecast_input.inflation %>">
      </div>

      <div>
        <label for="starting_value_box">
          Starting value
        </label>

        <input type="text" id="starting_value_box" name="query_starting_value" value="<%= @the_forecast_input.starting_value %>">
      </div>

      <div>
        <label for="income_box">
          Income
        </label>

        <input type="text" id="income_box" name="query_income" value="<%= @the_forecast_input.income %>">
      </div>

      <div>
        <label for="spend_value_box">
          Spend value
        </label>

        <input type="text" id="spend_value_box" name="query_spend_value" value="<%= @the_forecast_input.spend_value %>">
      </div>

      <div>
        <label for="years_income_box">
          Years income
        </label>

        <input type="text" id="years_income_box" name="query_years_income" value="<%= @the_forecast_input.years_income %>">
      </div>

      <div>
        <label for="years_forecast_box">
          Years forecast
        </label>

        <input type="text" id="years_forecast_box" name="query_years_forecast" value="<%= @the_forecast_input.years_forecast %>">
      </div>

      <div>
        <label for="portfolio1_id_box">
          Portfolio1
        </label>

        <input type="text" id="portfolio1_id_box" name="query_portfolio1_id" value="<%= @the_forecast_input.portfolio1_id %>">
      </div>

      <div>
        <label for="portfolio2_id_box">
          Portfolio2
        </label>

        <input type="text" id="portfolio2_id_box" name="query_portfolio2_id" value="<%= @the_forecast_input.portfolio2_id %>">
      </div>

      <div>
        <label for="weight_port1_box">
          Weight port1
        </label>

        <input type="text" id="weight_port1_box" name="query_weight_port1" value="<%= @the_forecast_input.weight_port1 %>">
      </div>

      <div>
        <label for="weight_port2_box">
          Weight port2
        </label>

        <input type="text" id="weight_port2_box" name="query_weight_port2" value="<%= @the_forecast_input.weight_port2 %>">
      </div>

      <div>
        <label for="cma_id_box">
          Cma
        </label>

        <input type="text" id="cma_id_box" name="query_cma_id" value="<%= @the_forecast_input.cma_id %>">
      </div>

      <div>
        <label for="correlation_id_box">
          Correlation
        </label>

        <input type="text" id="correlation_id_box" name="query_correlation_id" value="<%= @the_forecast_input.correlation_id %>">
      </div>

      <div>
        <label for="year1_cf_box">
          Year1 cf
        </label>

        <input type="text" id="year1_cf_box" name="query_year1_cf" value="<%= @the_forecast_input.year1_cf %>">
      </div>

      <div>
        <label for="year2_cf_box">
          Year2 cf
        </label>

        <input type="text" id="year2_cf_box" name="query_year2_cf" value="<%= @the_forecast_input.year2_cf %>">
      </div>

      <div>
        <label for="year3_cf_box">
          Year3 cf
        </label>

        <input type="text" id="year3_cf_box" name="query_year3_cf" value="<%= @the_forecast_input.year3_cf %>">
      </div>

      <div>
        <label for="year4_cf_box">
          Year4 cf
        </label>

        <input type="text" id="year4_cf_box" name="query_year4_cf" value="<%= @the_forecast_input.year4_cf %>">
      </div>

      <div>
        <label for="year5_cf_box">
          Year5 cf
        </label>

        <input type="text" id="year5_cf_box" name="query_year5_cf" value="<%= @the_forecast_input.year5_cf %>">
      </div>

      <div>
        <label for="year6_cf_box">
          Year6 cf
        </label>

        <input type="text" id="year6_cf_box" name="query_year6_cf" value="<%= @the_forecast_input.year6_cf %>">
      </div>

      <div>
        <label for="year7_cf_box">
          Year7 cf
        </label>

        <input type="text" id="year7_cf_box" name="query_year7_cf" value="<%= @the_forecast_input.year7_cf %>">
      </div>

      <div>
        <label for="year8_cf_box">
          Year8 cf
        </label>

        <input type="text" id="year8_cf_box" name="query_year8_cf" value="<%= @the_forecast_input.year8_cf %>">
      </div>

      <div>
        <label for="year9_cf_box">
          Year9 cf
        </label>

        <input type="text" id="year9_cf_box" name="query_year9_cf" value="<%= @the_forecast_input.year9_cf %>">
      </div>

      <div>
        <label for="year10_cf_box">
          Year10 cf
        </label>

        <input type="text" id="year10_cf_box" name="query_year10_cf" value="<%= @the_forecast_input.year10_cf %>">
      </div>

      <div>
        <label for="year11_cf_box">
          Year11 cf
        </label>

        <input type="text" id="year11_cf_box" name="query_year11_cf" value="<%= @the_forecast_input.year11_cf %>">
      </div>

      <div>
        <label for="year12_cf_box">
          Year12 cf
        </label>

        <input type="text" id="year12_cf_box" name="query_year12_cf" value="<%= @the_forecast_input.year12_cf %>">
      </div>

      <div>
        <label for="year13_cf_box">
          Year13 cf
        </label>

        <input type="text" id="year13_cf_box" name="query_year13_cf" value="<%= @the_forecast_input.year13_cf %>">
      </div>

      <div>
        <label for="year14_cf_box">
          Year14 cf
        </label>

        <input type="text" id="year14_cf_box" name="query_year14_cf" value="<%= @the_forecast_input.year14_cf %>">
      </div>

      <div>
        <label for="year15_cf_box">
          Year15 cf
        </label>

        <input type="text" id="year15_cf_box" name="query_year15_cf" value="<%= @the_forecast_input.year15_cf %>">
      </div>

      <div>
        <label for="year16_cf_box">
          Year16 cf
        </label>

        <input type="text" id="year16_cf_box" name="query_year16_cf" value="<%= @the_forecast_input.year16_cf %>">
      </div>

      <div>
        <label for="year17_cf_box">
          Year17 cf
        </label>

        <input type="text" id="year17_cf_box" name="query_year17_cf" value="<%= @the_forecast_input.year17_cf %>">
      </div>

      <div>
        <label for="year18_cf_box">
          Year18 cf
        </label>

        <input type="text" id="year18_cf_box" name="query_year18_cf" value="<%= @the_forecast_input.year18_cf %>">
      </div>

      <div>
        <label for="year19_cf_box">
          Year19 cf
        </label>

        <input type="text" id="year19_cf_box" name="query_year19_cf" value="<%= @the_forecast_input.year19_cf %>">
      </div>

      <div>
        <label for="year20_cf_box">
          Year20 cf
        </label>

        <input type="text" id="year20_cf_box" name="query_year20_cf" value="<%= @the_forecast_input.year20_cf %>">
      </div>

      <div>
        <label for="year21_cf_box">
          Year21 cf
        </label>

        <input type="text" id="year21_cf_box" name="query_year21_cf" value="<%= @the_forecast_input.year21_cf %>">
      </div>

      <div>
        <label for="year22_cf_box">
          Year22 cf
        </label>

        <input type="text" id="year22_cf_box" name="query_year22_cf" value="<%= @the_forecast_input.year22_cf %>">
      </div>

      <div>
        <label for="year23_cf_box">
          Year23 cf
        </label>

        <input type="text" id="year23_cf_box" name="query_year23_cf" value="<%= @the_forecast_input.year23_cf %>">
      </div>

      <div>
        <label for="year24_cf_box">
          Year24 cf
        </label>

        <input type="text" id="year24_cf_box" name="query_year24_cf" value="<%= @the_forecast_input.year24_cf %>">
      </div>

      <div>
        <label for="year25_cf_box">
          Year25 cf
        </label>

        <input type="text" id="year25_cf_box" name="query_year25_cf" value="<%= @the_forecast_input.year25_cf %>">
      </div>

      <div>
        <label for="year26_cf_box">
          Year26 cf
        </label>

        <input type="text" id="year26_cf_box" name="query_year26_cf" value="<%= @the_forecast_input.year26_cf %>">
      </div>

      <div>
        <label for="year27_cf_box">
          Year27 cf
        </label>

        <input type="text" id="year27_cf_box" name="query_year27_cf" value="<%= @the_forecast_input.year27_cf %>">
      </div>

      <div>
        <label for="year28_cf_box">
          Year28 cf
        </label>

        <input type="text" id="year28_cf_box" name="query_year28_cf" value="<%= @the_forecast_input.year28_cf %>">
      </div>

      <div>
        <label for="year29_cf_box">
          Year29 cf
        </label>

        <input type="text" id="year29_cf_box" name="query_year29_cf" value="<%= @the_forecast_input.year29_cf %>">
      </div>

      <div>
        <label for="year30_cf_box">
          Year30 cf
        </label>

        <input type="text" id="year30_cf_box" name="query_year30_cf" value="<%= @the_forecast_input.year30_cf %>">
      </div>

      <div>
        <label for="year1_cma_id_box">
          Year1 cma
        </label>

        <input type="text" id="year1_cma_id_box" name="query_year1_cma_id" value="<%= @the_forecast_input.year1_cma_id %>">
      </div>

      <div>
        <label for="year2_cma_id_box">
          Year2 cma
        </label>

        <input type="text" id="year2_cma_id_box" name="query_year2_cma_id" value="<%= @the_forecast_input.year2_cma_id %>">
      </div>

      <div>
        <label for="year3_cma_id_box">
          Year3 cma
        </label>

        <input type="text" id="year3_cma_id_box" name="query_year3_cma_id" value="<%= @the_forecast_input.year3_cma_id %>">
      </div>

      <div>
        <label for="year4_cma_id_box">
          Year4 cma
        </label>

        <input type="text" id="year4_cma_id_box" name="query_year4_cma_id" value="<%= @the_forecast_input.year4_cma_id %>">
      </div>

      <div>
        <label for="year5_cma_id_box">
          Year5 cma
        </label>

        <input type="text" id="year5_cma_id_box" name="query_year5_cma_id" value="<%= @the_forecast_input.year5_cma_id %>">
      </div>

      <div>
        <label for="year6_cma_id_box">
          Year6 cma
        </label>

        <input type="text" id="year6_cma_id_box" name="query_year6_cma_id" value="<%= @the_forecast_input.year6_cma_id %>">
      </div>

      <div>
        <label for="year7_cma_id_box">
          Year7 cma
        </label>

        <input type="text" id="year7_cma_id_box" name="query_year7_cma_id" value="<%= @the_forecast_input.year7_cma_id %>">
      </div>

      <div>
        <label for="year8_cma_id_box">
          Year8 cma
        </label>

        <input type="text" id="year8_cma_id_box" name="query_year8_cma_id" value="<%= @the_forecast_input.year8_cma_id %>">
      </div>

      <div>
        <label for="year9_cma_id_box">
          Year9 cma
        </label>

        <input type="text" id="year9_cma_id_box" name="query_year9_cma_id" value="<%= @the_forecast_input.year9_cma_id %>">
      </div>

      <div>
        <label for="year10_cma_id_box">
          Year10 cma
        </label>

        <input type="text" id="year10_cma_id_box" name="query_year10_cma_id" value="<%= @the_forecast_input.year10_cma_id %>">
      </div>

      <div>
        <label for="year11_cma_id_box">
          Year11 cma
        </label>

        <input type="text" id="year11_cma_id_box" name="query_year11_cma_id" value="<%= @the_forecast_input.year11_cma_id %>">
      </div>

      <div>
        <label for="year12_cma_id_box">
          Year12 cma
        </label>

        <input type="text" id="year12_cma_id_box" name="query_year12_cma_id" value="<%= @the_forecast_input.year12_cma_id %>">
      </div>

      <div>
        <label for="year13_cma_id_box">
          Year13 cma
        </label>

        <input type="text" id="year13_cma_id_box" name="query_year13_cma_id" value="<%= @the_forecast_input.year13_cma_id %>">
      </div>

      <div>
        <label for="year14_cma_id_box">
          Year14 cma
        </label>

        <input type="text" id="year14_cma_id_box" name="query_year14_cma_id" value="<%= @the_forecast_input.year14_cma_id %>">
      </div>

      <div>
        <label for="year15_cma_id_box">
          Year15 cma
        </label>

        <input type="text" id="year15_cma_id_box" name="query_year15_cma_id" value="<%= @the_forecast_input.year15_cma_id %>">
      </div>

      <div>
        <label for="year16_cma_id_box">
          Year16 cma
        </label>

        <input type="text" id="year16_cma_id_box" name="query_year16_cma_id" value="<%= @the_forecast_input.year16_cma_id %>">
      </div>

      <div>
        <label for="year17_cma_id_box">
          Year17 cma
        </label>

        <input type="text" id="year17_cma_id_box" name="query_year17_cma_id" value="<%= @the_forecast_input.year17_cma_id %>">
      </div>

      <div>
        <label for="year18_cma_id_box">
          Year18 cma
        </label>

        <input type="text" id="year18_cma_id_box" name="query_year18_cma_id" value="<%= @the_forecast_input.year18_cma_id %>">
      </div>

      <div>
        <label for="year19_cma_id_box">
          Year19 cma
        </label>

        <input type="text" id="year19_cma_id_box" name="query_year19_cma_id" value="<%= @the_forecast_input.year19_cma_id %>">
      </div>

      <div>
        <label for="year20_cma_id_box">
          Year20 cma
        </label>

        <input type="text" id="year20_cma_id_box" name="query_year20_cma_id" value="<%= @the_forecast_input.year20_cma_id %>">
      </div>

      <div>
        <label for="year21_cma_id_box">
          Year21 cma
        </label>

        <input type="text" id="year21_cma_id_box" name="query_year21_cma_id" value="<%= @the_forecast_input.year21_cma_id %>">
      </div>

      <div>
        <label for="year22_cma_id_box">
          Year22 cma
        </label>

        <input type="text" id="year22_cma_id_box" name="query_year22_cma_id" value="<%= @the_forecast_input.year22_cma_id %>">
      </div>

      <div>
        <label for="year23_cma_id_box">
          Year23 cma
        </label>

        <input type="text" id="year23_cma_id_box" name="query_year23_cma_id" value="<%= @the_forecast_input.year23_cma_id %>">
      </div>

      <div>
        <label for="year24_cma_id_box">
          Year24 cma
        </label>

        <input type="text" id="year24_cma_id_box" name="query_year24_cma_id" value="<%= @the_forecast_input.year24_cma_id %>">
      </div>

      <div>
        <label for="year25_cma_id_box">
          Year25 cma
        </label>

        <input type="text" id="year25_cma_id_box" name="query_year25_cma_id" value="<%= @the_forecast_input.year25_cma_id %>">
      </div>

      <div>
        <label for="year26_cma_id_box">
          Year26 cma
        </label>

        <input type="text" id="year26_cma_id_box" name="query_year26_cma_id" value="<%= @the_forecast_input.year26_cma_id %>">
      </div>

      <div>
        <label for="year27_cma_id_box">
          Year27 cma
        </label>

        <input type="text" id="year27_cma_id_box" name="query_year27_cma_id" value="<%= @the_forecast_input.year27_cma_id %>">
      </div>

      <div>
        <label for="year28_cma_id_box">
          Year28 cma
        </label>

        <input type="text" id="year28_cma_id_box" name="query_year28_cma_id" value="<%= @the_forecast_input.year28_cma_id %>">
      </div>

      <div>
        <label for="year29_cma_id_box">
          Year29 cma
        </label>

        <input type="text" id="year29_cma_id_box" name="query_year29_cma_id" value="<%= @the_forecast_input.year29_cma_id %>">
      </div>

      <div>
        <label for="year30_cma_id_box">
          Year30 cma
        </label>

        <input type="text" id="year30_cma_id_box" name="query_year30_cma_id" value="<%= @the_forecast_input.year30_cma_id %>">
      </div>

      <div>
        <label for="year1_correl_id_box">
          Year1 correl
        </label>

        <input type="text" id="year1_correl_id_box" name="query_year1_correl_id" value="<%= @the_forecast_input.year1_correl_id %>">
      </div>

      <div>
        <label for="year2_correl_id_box">
          Year2 correl
        </label>

        <input type="text" id="year2_correl_id_box" name="query_year2_correl_id" value="<%= @the_forecast_input.year2_correl_id %>">
      </div>

      <div>
        <label for="year3_correl_id_box">
          Year3 correl
        </label>

        <input type="text" id="year3_correl_id_box" name="query_year3_correl_id" value="<%= @the_forecast_input.year3_correl_id %>">
      </div>

      <div>
        <label for="year4_correl_id_box">
          Year4 correl
        </label>

        <input type="text" id="year4_correl_id_box" name="query_year4_correl_id" value="<%= @the_forecast_input.year4_correl_id %>">
      </div>

      <div>
        <label for="year5_correl_id_box">
          Year5 correl
        </label>

        <input type="text" id="year5_correl_id_box" name="query_year5_correl_id" value="<%= @the_forecast_input.year5_correl_id %>">
      </div>

      <div>
        <label for="year6_correl_id_box">
          Year6 correl
        </label>

        <input type="text" id="year6_correl_id_box" name="query_year6_correl_id" value="<%= @the_forecast_input.year6_correl_id %>">
      </div>

      <div>
        <label for="year7_correl_id_box">
          Year7 correl
        </label>

        <input type="text" id="year7_correl_id_box" name="query_year7_correl_id" value="<%= @the_forecast_input.year7_correl_id %>">
      </div>

      <div>
        <label for="year8_correl_id_box">
          Year8 correl
        </label>

        <input type="text" id="year8_correl_id_box" name="query_year8_correl_id" value="<%= @the_forecast_input.year8_correl_id %>">
      </div>

      <div>
        <label for="year9_correl_id_box">
          Year9 correl
        </label>

        <input type="text" id="year9_correl_id_box" name="query_year9_correl_id" value="<%= @the_forecast_input.year9_correl_id %>">
      </div>

      <div>
        <label for="year10_correl_id_box">
          Year10 correl
        </label>

        <input type="text" id="year10_correl_id_box" name="query_year10_correl_id" value="<%= @the_forecast_input.year10_correl_id %>">
      </div>

      <div>
        <label for="year11_correl_id_box">
          Year11 correl
        </label>

        <input type="text" id="year11_correl_id_box" name="query_year11_correl_id" value="<%= @the_forecast_input.year11_correl_id %>">
      </div>

      <div>
        <label for="year12_correl_id_box">
          Year12 correl
        </label>

        <input type="text" id="year12_correl_id_box" name="query_year12_correl_id" value="<%= @the_forecast_input.year12_correl_id %>">
      </div>

      <div>
        <label for="year13_correl_id_box">
          Year13 correl
        </label>

        <input type="text" id="year13_correl_id_box" name="query_year13_correl_id" value="<%= @the_forecast_input.year13_correl_id %>">
      </div>

      <div>
        <label for="year14_correl_id_box">
          Year14 correl
        </label>

        <input type="text" id="year14_correl_id_box" name="query_year14_correl_id" value="<%= @the_forecast_input.year14_correl_id %>">
      </div>

      <div>
        <label for="year15_correl_id_box">
          Year15 correl
        </label>

        <input type="text" id="year15_correl_id_box" name="query_year15_correl_id" value="<%= @the_forecast_input.year15_correl_id %>">
      </div>

      <div>
        <label for="year16_correl_id_box">
          Year16 correl
        </label>

        <input type="text" id="year16_correl_id_box" name="query_year16_correl_id" value="<%= @the_forecast_input.year16_correl_id %>">
      </div>

      <div>
        <label for="year17_correl_id_box">
          Year17 correl
        </label>

        <input type="text" id="year17_correl_id_box" name="query_year17_correl_id" value="<%= @the_forecast_input.year17_correl_id %>">
      </div>

      <div>
        <label for="year18_correl_id_box">
          Year18 correl
        </label>

        <input type="text" id="year18_correl_id_box" name="query_year18_correl_id" value="<%= @the_forecast_input.year18_correl_id %>">
      </div>

      <div>
        <label for="year19_correl_id_box">
          Year19 correl
        </label>

        <input type="text" id="year19_correl_id_box" name="query_year19_correl_id" value="<%= @the_forecast_input.year19_correl_id %>">
      </div>

      <div>
        <label for="year20_correl_id_box">
          Year20 correl
        </label>

        <input type="text" id="year20_correl_id_box" name="query_year20_correl_id" value="<%= @the_forecast_input.year20_correl_id %>">
      </div>

      <div>
        <label for="year21_correl_id_box">
          Year21 correl
        </label>

        <input type="text" id="year21_correl_id_box" name="query_year21_correl_id" value="<%= @the_forecast_input.year21_correl_id %>">
      </div>

      <div>
        <label for="year22_correl_id_box">
          Year22 correl
        </label>

        <input type="text" id="year22_correl_id_box" name="query_year22_correl_id" value="<%= @the_forecast_input.year22_correl_id %>">
      </div>

      <div>
        <label for="year23_correl_id_box">
          Year23 correl
        </label>

        <input type="text" id="year23_correl_id_box" name="query_year23_correl_id" value="<%= @the_forecast_input.year23_correl_id %>">
      </div>

      <div>
        <label for="year24_correl_id_box">
          Year24 correl
        </label>

        <input type="text" id="year24_correl_id_box" name="query_year24_correl_id" value="<%= @the_forecast_input.year24_correl_id %>">
      </div>

      <div>
        <label for="year25_correl_id_box">
          Year25 correl
        </label>

        <input type="text" id="year25_correl_id_box" name="query_year25_correl_id" value="<%= @the_forecast_input.year25_correl_id %>">
      </div>

      <div>
        <label for="year26_correl_id_box">
          Year26 correl
        </label>

        <input type="text" id="year26_correl_id_box" name="query_year26_correl_id" value="<%= @the_forecast_input.year26_correl_id %>">
      </div>

      <div>
        <label for="year27_correl_id_box">
          Year27 correl
        </label>

        <input type="text" id="year27_correl_id_box" name="query_year27_correl_id" value="<%= @the_forecast_input.year27_correl_id %>">
      </div>

      <div>
        <label for="year28_correl_id_box">
          Year28 correl
        </label>

        <input type="text" id="year28_correl_id_box" name="query_year28_correl_id" value="<%= @the_forecast_input.year28_correl_id %>">
      </div>

      <div>
        <label for="year29_correl_id_box">
          Year29 correl
        </label>

        <input type="text" id="year29_correl_id_box" name="query_year29_correl_id" value="<%= @the_forecast_input.year29_correl_id %>">
      </div>

      <div>
        <label for="year30_correl_id_box">
          Year30 correl
        </label>

        <input type="text" id="year30_correl_id_box" name="query_year30_correl_id" value="<%= @the_forecast_input.year30_correl_id %>">
      </div>

      <button>
        Update forecast input
      </button>
    </form>
  </div>
</div>

<hr>
