<!DOCTYPE html>
<html>
  <head>
<style>

 /* .navbar-nav { 
            margin-left: auto; 
        }  */
.grid-container {
  display: grid;
  grid-template-columns: 300px auto ;
  grid-template-rows: auto;
  grid-gap: 20px;
  background-color: #1C1B29;
  padding: 20px;
  


}

.grid-container > div {
  background-color: #39394B;
  grid-template-columns: auto ;
  text-align: left;
  padding: 20px 0;
  color: #FFFFFF;
  


}

.grid-login {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #1C1B29;
  padding: 10px;
  height: 900px;
}

.grid-login-item {
  background-color: #1C1B29;
  border: #1C1B29;
  padding: 20px;
  height: 33%;
  font-size: 30px;
  text-align: left;
}
.grid-login-login {
  background-color: #39394B;
  border: #1C1B29;
  padding: 20px;
  height: 70%;
  font-size: 30px;
  text-align: left;
}
.vertical-menu {
  width: 300px;
}

.vertical-menu a {
  background-color: #1C1B29;
  color: #FFFFFF;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #5445FF;
}

.vertical-menu a.active {
  background-color: #5445FF;
  color: #FFFFFF;
}

.accordion {
  background-color: #39394B;
  color: #FFFFFF;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #5445FF; 
}

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
</style>

<title>JET Optimizer</title>
    <%= csrf_meta_tags %>
     

     
    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta charset="utf-8">

    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css">

    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <!-- Connect Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
     
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.1/dist/Chart.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.1/dist/Chart.min.js"></script>
    
     <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
        <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  </head>
<body>

<% if @current_user.nil? %>
 <nav style = "background-color: #39394B" class="navbar navbar-expand-lg navbar-dark ">

  <a class="navbar-brand" href="/">MPJ CO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto">
  
      <li class="nav-item">
         <button type="button" class="btn btn-lg" style = "background-color: #5445FF" type="submit" ><a style="color: #FFFFFF" href="/user_sign_in">Sign In</a></button>
      </li>
     
      
    </ul>
   </div>
</nav>

<div> <%= yield %>  </div>        

<% else %>

<nav style = "background-color: #39394B" class="navbar navbar-expand-lg navbar-dark ">

  <a class="navbar-brand" href="#">MPJ CO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/edit_user_profile">Edit Profile</a>
          <a class="dropdown-item" href="/user_sign_out">Sign Out</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user_sign_in">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user_sign_out">Sign Out</a>
      </li>
      
    </ul>
   </div>
</nav>

<div class="grid-container">
  <div class="vertical-menu">
    <a href="/" class="active">Home</a>
    <button class="accordion">Inputs</button>
     <div class="panel grid-container">   
          <a class="dropdown-item" href="/asset_classes">Asset Classes</a>
          <a class="dropdown-item" href="/cmas">Capital Market Assumptions</a>
          <a class="dropdown-item" href="/correlations">Correlations</a>
     </div>   
    <button class="accordion">Portfolios</button>
    <div class="panel grid-container">
        <a class="dropdown-item active" href="/portfolios">All Portfolios</a>   
           <% @current_user.portfolios.order(name: :asc).each do |a_portfolio| %>
          <a class="dropdown-item" href="/portfolios/<%= a_portfolio.id %>"><%= a_portfolio.name %></a>
          <% end %>
     </div>  
  <button class="accordion">Frontier Analysis</button>
   <div class="panel grid-container">
          <a class="dropdown-item active" href="/frontiers">All Frontiers</a>      
           <% @current_user.frontiers.order(name: :asc).each do |a_frontier| %>
          <a class="dropdown-item" href="/frontiers/<%= a_frontier.id %>"><%= a_frontier.name %></a>
          <% end %>
     </div>
  <button class="accordion">Forecast Analysis</button>
   <div class="panel grid-container">
          <a class="dropdown-item active" href="/forecasts">All Forecasts</a>     
           <% @current_user.forecasts.order(name: :asc).each do |a_forecast| %>
          <a class="dropdown-item" href="/forecasts/<%= a_forecast.id %>"><%= a_forecast.name %></a>
          <% end %>
     </div>    
  </div>
  <div> <%= yield %>  </div>
  </div>
 
<% end %>
 
 <script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>   

 
  </body>

  
</html>
